<h3><%= link_to "Looking for roommates", profiles_path(:filter => :roommates) %> <%= link_to "Looking for a place", profiles_path(:filter => :looking_for_place) %></h3>


<div class="profile-world">
  <% @profiles.each do |profile| %>
    <div class="profile-individual">
      <p><%= link_to(image_tag(profile.avatar_url(:thumb)), profile) %></p>
      <p><%= profile.first_name %> <%= profile.last_name %></p>
      <p><%= profile.about %></p>
      <p>Open to roommates: <%= boolean_to_s profile.open_to_roommates %></p>
      <p>Looking for a place: <%= boolean_to_s profile.looking_for_place %></p>
    </div>
  <% end %>
</div>
