<h3><%= link_to "Looking for roommates", profiles_path(:filter => :roommates) %> <%= link_to "Looking for a place", profiles_path(:filter => :looking_for_place) %></h3>


<div class="profile-world">
  <% @profiles.each do |profile| %>
    <div class="profile-individual">
      <p><%= profile.first_name %></p>
      <p><%= profile.last_name %></p>
      <p><%= profile.major %></p>
      <p><%= profile.year %></p>
      <p><%= profile.open_to_roommates %></p>
      <p><%= profile.looking_for_place %></p>
      <p><%= profile.user.listings.count %></p>
    </div>
  <% end %>
</div>