<h2>Hey <%= @profile.first_name %>!</h2>

<p><%= @profile.first_name %></p>
<p><%= @profile.last_name %></p>
<p><%= @profile.year %></p>
<p><%= @profile.major %></p>
<p><%= @profile.activities_and_clubs %></p>
<p><%= @profile.looking_for_place%></p>
<p><%= @profile.open_to_roommates %></p>
<p><%= @profile.price_range %></p>

