<% if current_user and @profile.user %>
<h2>Hey <%= @profile.first_name %>!</h2>
<% end %>

<p><%= image_tag @profile.avatar_url(:thumb) %></p>
<p><%= @profile.first_name %> <%= @profile.last_name %></p>
<p><%= @profile.year %></p>
<p><%= @profile.major %></p>
<p><%= @profile.activities_and_clubs %></p>
<p><%= @profile.looking_for_place%></p>
<p><%= @profile.open_to_roommates %></p>
<p><%= @profile.max_price %></p>

<%= link_to "Edit", edit_profile_path(@profile) %>