<%= simple_form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p><%= link_to "Edit property", edit_property_path(@listing, @property) %></p>
  </div>  
  <%= f.collection_select(:property_id, Property.all, :id, :address) %>
  <div class="field">
    <%= f.label :open_to_student_only, "Student only?" %>         |
    <%= f.label :rent_per_month %><br>
    <%= f.check_box :open_to_student_only %>
    <%= f.text_field :rent_per_month %>
  </div>
  <div class="field">
    <%= f.label :is_available %><br>
    <%= f.datetime_select :is_available %>
  </div>
  <div class="field">
    <%= f.label :schedule, "When are you open to show it?" %><br>
    <%= f.text_field :schedule, :placeholder => "Ex. Mondays after 5pm" %>
  </div>
  <div class="actions">
    <%= f.submit :id => "submit-button" %>
  </div>
<% end %></div></div></div>
