<div class="form1">
  <%= simple_form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  </div>  
  <p id="new-property">If you haven't already <%= link_to 'Add your place', new_property_path %></p>
  <%= f.collection_select(:property_id, current_user.properties.all, :id, :address) %>
  <div class="field">
    <%= f.label :open_to_student_only, "For students only?" %>
    <%= f.check_box :open_to_student_only %>
  </div>
  <div class="field">
    <%= f.label :rent_per_month %>
    <%= f.text_field :rent_per_month %>
  </div>
  <div class="field">
    <%= f.label :is_available %>
    <%= f.datetime_select :is_available %>
  </div>
  <div class="field">
    <%= f.label :schedule, "When are you open to show it?" %>
    <%= f.text_field :schedule, :placeholder => "Ex. Mondays after 5pm" %>
  </div>
  <div class="field">
    <%= f.label :needed, "What is needed for someone to move in?" %>
    <%= f.text_field :needed, :placeholder => "Ex. Credit check and first month's deposit." %>
  </div>
  <div class="actions">
    <%= f.submit :id => "submit-button" %>
  </div>
<% end %></div></div></div>

</div>  