<div class="rows">
    <% @recent_listings.each do |listing| %>
    <div class="listing">
      <ul>
        <li><%= image_tag(listing.property.images.first.photo_url) %></li>
        <li><%= listing.property.address %></li>
        <li><%= listing.open_to_student_only %>, it's only for students...</li>
        <li><%= number_to_currency(listing.rent_per_month) %> per month</li>
        <li>Starting <%= time_tag Date.today(listing.is_available) %></li>
        <li>Free to show it <%= listing.schedule %></li>
        <li><%= listing.user_id %> is the lister</li>
      </ul>
      <p><%= link_to 'Learn More', listing %></p>
    </div>
    <% end %>
</div>
