<div class="google-maps">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x400&sensor=false&zoom=16&markers=#{@listing.property.latitude}%2C#{@listing.property.longitude}" %>
  <h2>
    <%= link_to(@listing.user.profile) do %>
      <%= image_tag(@listing.user.profile.avatar_url) %><br>
      <strong><%= @listing.user.profile.first_name %> <%= @listing.user.profile.last_name %></strong>
    <% end %>
  </h2>
</div>

<div class="listing-container">
  <ul class="photo-gallery">
    <% @listing.property.images.each do |image| %>
      <li><%= image_tag(image.photo_url(:thumb)) %></li>
    <% end %>
  </ul>
  <ul>
    <li><%= @listing.property.address %></li>
    <li><%= number_to_currency(@listing.rent_per_month) %> per month</li>
    <li>Open to sublet starting <%= time_tag Date.today(@listing.is_available) %></li>
    <li><%= @listing.property.description %></li>
    <li><%= @listing.property.total_bedrooms %> bedrooms</li>
    <li><%= @listing.property.total_bathrooms %> bathrooms</li>
    <li><%= @listing.property.commute_to_campus_in_minutes %> minutes to campus</li>
    <li>What is needed to move in: <%= @listing.needed %></li>
    <li>Free to show <%= @listing.schedule %></li>
  </ul>
  <p><%= link_to "Attend an open house", new_listing_appointment_path(@listing) %></p>
  <div class="navigation">
    <%= link_to 'Edit', edit_listing_path(@listing, @appointment) %> |
    <%= link_to 'Back', listings_path %>
  </div>
</div>