<p id="notice"><%= notice %></p>

<p>
  <% @listing.property.images.each do |image| %>
    <%= image_tag(image.photo_url) %>
  <% end %>
</p>

<p>
  <%= link_to "Schedule a session", new_listing_appointment_path(@listing) %>
</p>

<p>
  <%= @listing.property.address %>
</p>

<p>
  <%= @listing.open_to_student_only %>
</p>

<p>
  <%= number_to_currency(@listing.rent_per_month) %>
</p>

<p>
  <%= time_tag Date.today(@listing.is_available) %>
</p>

<p>
  <%= @listing.schedule %>
</p>

<p>
  <%= @listing.user_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
