<div class="header">
    <li><%= link_to "Mission", mission_index_path %></li>
    <li><%= link_to "About", about_index_path %></li>
    <li><%= link_to image_tag("domiapp.png"), root_path, id: "logo" %></li>
    <li><%= link_to "FAQ", faq_index_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up" %></li>
</div>
<div class="main">
  <h3><%= image_tag("college-map.jpg", id: "college-map") %></h3>
  <h1>Our mission is to make housing easy for every student.</h1>
  <p>Housing is one of the most fundamental pieces in the human existence. College is aguraguably one of the greatest times a person will ever have. So how can something so fundamental, inside of something so enoyable, be so terrible?</p>
  <p>We've asked ourselves this many times. But even more, we've been able to talk with college students and graduates just like us. They say the same. "Where were you while I was in college?" is becoming way to familiar.</p>
  <p>The state of college housing is a mess. It was convceived in past era and the tools available are from companies not even focused on college students. College housing has its own set of unique challenges. People move seasonally, people graduate, they study abroad, they trash the place, you name it.</p>
  <p>A unique experience calls for a unique company with a unique view close to the action. Domi is that company. Our mission and the reason we wake up everyday to work is that ultimate goal of making housing easy for every student. We hope you join us on this adventure and we hope you are better as a result of spending time with us.</p>
  <p>Sincerly,<br>
    Mike Adeleke <br>
    Founder at Domi <br>
  </p>
</div>