<div class="property-container">
  <% @properties.each do |property| %>
    <div class="property">
      <ul>
        <li>
          <%= image_tag(property.images.first.photo_url) %>
        </li>  
        <li><%= property.address %></li>
        <li><%= property.total_bedrooms %> bedrooms</li>
        <li><%= property.total_bathrooms %> bathrooms</li>
      </ul>
      <p><%= link_to 'Learn More', property %></p>
    </div>
  <% end %>
</div>