<p id="notice"><%= notice %></p>


<div class="google-maps">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x400&sensor=false&zoom=16&markers=#{@property.latitude}%2C#{@property.longitude}" %>
</div>

<div class="listing-container">
  <div class='image_slider'>
    <ul>
      <%= image_tag(@property.images.first.photo_url(:gallery)) %>
    </ul>
  </div>
  <ul class='thumbnails'>
    <% @property.images.each do |image| %>
        <li data-image-url="<%=image.photo_url(:gallery)%>"><%= image_tag(image.photo_url(:gallery)) %></li>
    <% end %>
  </ul>

  <ul>
    <li><%= @property.address %></li>
    <li><%= @property.description %></li>
    <li><%= @property.total_bedrooms %> bedrooms</li>
    <li><%= @property.total_bathrooms %> bathrooms</li>
    <li><%= @property.commute_to_campus_in_minutes %> minutes to campus</li>
  </ul>
</div>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
