<div class="header">
    <li><%= link_to "Mission", mission_index_path %></li>
    <li><%= link_to "About", about_index_path %></li>
    <li><%= link_to image_tag("domiapp.png"), root_path, id: "logo" %></li>
    <li><%= link_to "FAQ", faq_index_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up" %></li>
</div>
<div class="main">
  <h2>What is Domi?</h2>
  <p>Domi is the easiest way to find or sublet an apartment around campus.</p>
  <h2>Why should I care?</h2>
  <p>Domi is committed to making the housing experience easy. We focus solely on college students looking to deliver an incredible experience for them. Like we said, we are on a <%= link_to "mission", mission_index_path %>.</p>
  <h2>How does it work?</h2>
  <ol>
    <li>Sign up and fill out your profile</li>
    <li>Looking to sublet, rent, or find a roommate</li>
    <ul>
      <li>If you are looking to sublet your place</li>
        <ul>
          <li>Claim your place</li>
          <li>Add all the necessary details</li>
          <li>List your place to be seen by everyone</li>
          <li>If you are feeling eager you can see who is looking for a place</li>
        </ul>
      <li>If you are looking to get a place and/or a roommate</li>
        <ul>
          <li>Browse listings</li>
          <li>Schedule an open house with those that you like</li>
        </ul>
    </ul>
    <li>Message the other side on times that work best for you</li>
    <li>Get your housing over with already!</li>
  </ol>
  <h2>Is it free?</h2>
  <p>Yes!</p>
  <h2>How will you make money then?</h2>
  <p>At this point, making college students happy is a job in itself. In the future, we aim to be the one thign students use for all aspects of housing. The next step we see is the abiliy for us to take the burden away from students - and later landlords - to keep writing checks. I know, people still do that and it is like 2014.</p>
  <p>So pretty soon Domi will be able to handle all your monthly payments as well as collect rent from those who sublet from you and your roommmates.</p>
  <h2>Who's the good looking guy behind all this?</h2>
  <p>Thank you for your kind words :)</p>
  <p><%= image_tag("mike-resize.png") %></p>
  <h2>Why a mission?</h2>
  <p>We truly believe at Domi that companies like human beings, exist for something. If there is no point of a company existing or if it is just existig for money, where is the value? But if a companu exists to help people and change the world, that is something we can egt behind. That company is Domi.</p>
  <h2>Why such a big mission?</h2>
  <p>A big mission is a result of a big problem. Since college housing is so broken and 5.4% of the American population - so about 10 million students - are in school that delivers something to really shoot for.</p>
  <h2>Where does it start?</h2>
  <p>Drexel.</p>
</div>