<div class="header">
    <li><%= link_to "Mission", mission_index_path %></li>
    <li><%= link_to "About", about_index_path %></li>
    <li><%= link_to image_tag("domiapp.png"), root_path, id: "logo" %></li>
    <li><%= link_to "FAQ", faq_index_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path, id: "sign-up" %></li>
</div>
<div class="main">
   <div id="video1">
      <iframe width="660" height="415" src="//www.youtube.com/embed/9MG-xlvYtFY" frameborder="0" allowfullscreen></iframe>
  </div><br><br>
  <h1>What we do for you</h1>
  <p>Explanation</p>
  <h2>Why a mission?</h2>
  <p>Explanation</p>
  <h2>Why such a big mission?</h2>
  <p>Explanation</p>
  <h2>Where does it start?</h2>
  <p>Explanation</p>
</div>