<p><%= @appointment.time %></p>
<p><%= link_to @appointment.listing.property.address, listing_path %></p>

<p>Comments</p>
<ul>
  <% @appointment.comments.each do |comment| %>
      <li><%= image_tag(comment.user.profile.avatar_url, width: "50", height: "50") %> <%= comment.comment %></li>   
  <% end %>
</ul>



<%= form_for [@appointment, @comment] do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit "New message" %>
<% end %> 

<%= link_to "Back", dashboard_index_path %>