<!DOCTYPE html>
<html>
<head>
  <title>Domimvp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
  <%= javascript_include_tag "application", "nested_form", "http://maps.googleapis.com/maps/api/js?sensor=false", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>
<body>

<% if signed_in? %>
<%= render partial: "elements/navbar" %>
<% end %>

<%= bootstrap_flash %>


<%= yield %>
</body>
</html>
